<div class="main-div">
  <div class="main-sidemenu">
    <ul class="menu-ul">
      <li>
        <a href="/admin/member" class="sidemenu-style"> 회원관리</a>
      </li>
      <li>
        <a href="/admin/post" class="sidemenu-style"> 게시글관리</a>
      </li>
      <li>
        <a href="/admin/analysis" class="sidemenu-style"> 통계분석</a>
        <ul class="smallmenu-ul">
          <li>
            <a href="/admin/analysis" class="smallmenu"> - 일일 게시글 분석</a>
          </li>
          <li>
            <a href="/admin/analysis" class="smallmenu"> - 사용자 분석</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin/qna" class="sidemenu-style"> 문의내역</a>
      </li>
    </ul>
  </div>
  <div class="main-contents">
    <div class="subject">전체 게시글</div>
    <div>
      <table class="table-style">
        <thead>
          <tr>
            <th scope="cols">회원아이디</th>
            <th scope="cols">제목</th>
            <th scope="cols"></th>
            <th scope="cols">조회수</th>
            <th scope="cols">댓글수</th>
            <th scope="cols"></th>
          </tr>
        </thead>
        <tbody>
          <% post.forEach(post => { %>
          <tr>
            <td scope="row"><%= post.user_id %></td>
            <td><a href="<%=`/board/post-view/${post.post_id}`%>"><%= post.title %></a></td>
            <!-- <td><%= post.title %></td> -->
            <td><img src="<%= `/public/uploadFiles/${post.image}` %>" width="50" height="50"/></td>
            <td><%= post.view_count %></td>
            <td><%= post.commentCount %></td>
            <td>
              <form action="<%=`/admin/post/delete`%>" method="post">
                <input
                  type="hidden"
                  name="post_id"
                  value="<%= post.post_id %>"
                />
                <input
                  type="submit"
                  name="Delete"
                  value="Delete"
                  onClick="alert('게시글을 삭제하시겠습니까?')"
                />
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
