<div class="main-div">
  <div class="main-sidemenu">
    <ul class="menu-ul">
      <li>
        <a href="/admin-member" class="sidemenu-style"> 회원관리</a>
      </li>
      <li>
        <a href="/admin-post" class="sidemenu-style"> 게시글관리</a>
      </li>
      <li>
        <a href="/admin-analysis" class="sidemenu-style"> 통계분석</a>
        <ul class="smallmenu-ul">
          <li>
            <a href="/admin-analysis" class="smallmenu"> - 일일 게시글 분석</a>
          </li>
          <li>
            <a href="/admin-analysis" class="smallmenu"> - 사용자 분석</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin-qna" class="sidemenu-style"> 문의내역</a>
      </li>
    </ul>
  </div>
  <div class="main-contents">
    <div class="subject">전체 회원</div>
    <div class="main-searchbox-pos">
      <!-- <form>
        <select class="member-select-style">
          <option>구분</option>
          <option>회원아이디</option>
          <option>회원이메일</option>
          <option>사용자</option>
          <option>관리자</option>
        </select>
      </form> -->
      <!-- <input type="text" class="main-search-box" />
      <button class="member-button-style">검색</button> -->
    </div>
    <div>
      <table class="table-style">
        <thead>
          <tr>
            <th scope="cols">회원명</th>
            <th scope="cols">회원아이디</th>
            <th scope="cols">게시글수</th>
            <th scope="cols">이메일</th>
            <th scope="cols">생년월일</th>
            <th scope="cols">성별</th>
            <th scope="cols"></th>
          </tr>
        </thead>
        <% user.forEach(user=>{ %>
        <tbody>
          <tr>
            <td scope="row"><%= user.name %></td>
            <td><%= user.user_id %></td>
            <td>//게시글수//</td>
            <td><%= user.email %></td>
            <td><%= user.birthdate %></td>
            <td><%= user.gender %></td>
            <td>
              <form action="<%=`/admin-member/${user.user_id}`%>" method="post">
                <input
                  type="hidden"
                  name="user_id"
                  value="<%=user.user_id %>"
                />
                <input
                  type="submit"
                  name="Delete"
                  value="Delete"
                  onClick="alert('회원정보를 삭제하시겠습니까?')"
                />
              </form>
            </td>
          </tr>
        </tbody>
        <% }); %>
      </table>
    </div>
  </div>
</div>
