<div id="container">
    <div id="all_contents">
        <div class="board_action">
            <h2>전체</h2>
            <a href="/board/post-writing"><div id="writingPost">글쓰기</div></a>
        </div>                
        <% for(let i=0;i<posts[0].length; i++){ p = posts[0][i]; c = comment[0][i]; %>
        <div class="contents">
            <% if( (i%2) == 0 ) {  %>
            <div class="listview_real_content" id="bod_content_end1">
                <a href="<%= `/board/post-view/${p?.post_id}` %>">
                    <div class="contents_container">
                        <div class="contents_explain">
                            <h2><%= p?.title %></h2>
                            <h4><%= p?.address1 %></h4>
                            <h5><%= p?.user_id %></h5>
                            <p><%= p?.content %></p>
                        </div>
                        <% if(p?.image == null ) { %>
                        <div class="img_main"><img src="/public/images/no_image.png" alt="메인 사진"></div>
                        <%} else { %>
                        <div class="img_main"><img src="<%= `/public/uploadFiles/${p.image}` %>" alt="메인 사진"></div>
                        <%} %>
                            
                        <div class="contents_info" id="info_1">
                            <a href="<%= `/board/post-view/${p.post_id}` %>">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="<%= `/board/post-view/${p.post_id}` %>">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="<%= `/board/post-view/${p.post_id}` %>">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p><%= p.grade %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <% i++;  p = posts[0][i]; c = comment[0][i] } %>
            <% if( (i%2) == 1 ) { %>
            <div class="listview_real_content">
                <a href="<%= `/board/post-view/${p?.post_id}` %>">
                    <div class="contents_container">
                        <div class="contents_explain">
                            <h2><%= p?.title %></h2>
                            <h4><%= p?.address1 %></h4>
                            <h5><%= p?.user_id %></h5>
                            <p><%= p?.content %></p>
                        </div>
                        <% if(p?.image == null ) { %>
                        <div class="img_main"><img src="/public/images/no_image.png" alt="메인 사진"></div>
                        <%} else { %>
                        <div class="img_main"><img src="<%= `/public/uploadFiles/${p.image}` %>" alt="메인 사진"></div>
                        <%} %>
                        
                        <div class="contents_info" id="info_2">
                            <a href="<%= `/board/post-view/${p?.post_id}` %>">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="<%= `/board/post-view/${p?.post_id}` %>">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="<%= `/board/post-view/${p?.post_id}` %>">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p><%= p?.grade %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <%} %>
        </div>
        <% } %>
    </div>
</div>