<div class="comment-area" id="comment">
    <div class="comment-content">
      <div class="post-view-profile">
        <a href="#"><img src="../public/images/usericon.png" alt="작성자 프로필">&nbsp;<%= comment.user_id %></a>
      </div>
      <p class="comment-content-text"><%= comment.comment %></p>
      <div class="comment-footer">
        <%= comment.written_date) %>
        <!-- 작성자에게만 보이게 -->
        <% if (comment.user_id == currentUser.id) { %>
          <span class="comment-buttons">
            <a href="<%= `/board/post-view/${post.post_id}/comment/${comment.comment_id}/edit` %>">수정</a>
            <a href="<%= `/board/post-view/${post.post_id}/comment/${comment.comment_id}/delete` %>">삭제</a>
          </span>
        <% } %>
      </div>
    </div>

    <div class="comment-writing-column">
      <div class="post-view-profile">
        <img src="../public/images/usericon.png" alt="내 프로필">&nbsp;<%= currentUser.id %>
      </div>
      <form class="comment-textarea" action="<%= `/board/post-view/${post.post_id}/comment/write` %>" method="post">
        <p><textarea placeholder="내용을 입력해 주세요" name="comment-textarea" rows="8" cols="80"></textarea></p>
        <p><input type="submit" name="등록" value="등록" class="post-view-myButton"></p>
      </form>
    </div>
  </div>