<div id="container">
    <div id="today_best">
        <h2>👑 오늘의 이리와 👑</h2>
            <section class="today_best_slider">
            <div class="today_best_contents">
                <% if(post.image == null ) { %>
                <div class="contents_img"><img src="/public/images/no_image.png" alt="메인 사진"></div>
                <%} else { %>
                <div class="contents_img"><img src="<%= `/public/images/${post.image}` %>" alt="메인 사진"></div>
                <%} %>
                <div class="contents_detail">
                    <a href="<%= `/board/post-view/${post.post_id}` %>">
                    <div class="contents_explain">
                        <h1><%= post.title %></h1>
                        <h4><%= post.address1 %></h4>
                        <h5><%= post.user_id %></h5>
                        <p><%= post.content %></p>
                    </div>
                    </a>
                    <div class="contents_info">
                        <a href="<%= `/board/post-view/${post.post_id}` %>">
                            <div class="btn_jjim">
                                <img src="/public/images/jjim_icon.png" alt="찜">
                                <p>2,100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${post.post_id}` %>">
                            <div class="btn_comment">
                                <img src="/public/images/comment_icon.png" alt="댓글">
                                <p>100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${post.post_id}` %>">
                            <div class="btn_grade">
                                <img src="/public/images/grade_icon.png" alt="별점">
                                <p><%= post.grade %></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="search">
            <input type="text" placeholder="검색">
            <a href="/search"><img src="/public/images/search_icon.png" alt="검색"></a>
    </div>
    <div id="all_contents">
        <div class="board_action" id="inx_board_action">
            <h2>전체</h2>
            <div>
                <a href=""><img src="/public/images/gallery_view_icon.png" alt="사진 보기"></a>
                <a href=""><img src="/public/images/list_view_icon.png" alt="목록 보기"></a>
            </div>
        </div>
        <% posts.forEach(p => { %>
        <div class="contents">
            <div class="gallery_real_content" id="idx_content_end1">
                <% if(p.image == null ) { %>
                <div><img src="/public/images/no_image.png" alt="메인 사진"></div>
                <%} else { %>
                <div><img src="<%= `/public/images/${p.image}` %>" alt="메인 사진"></div>
                <%} %>
                <div>
                    <a href="<%= `/board/post-view/${p.post_id}` %>">
                        <div class="contents_explain">
                            <h3><%= p.title %></h3>
                            <h4><%= p.address1 %></h4>
                            <h5><%= p.user_id %></h5>
                            <p><%= p.content %></p>
                        </div>
                    </a>
                    <div class="contents_info">
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_jjim">
                                <img src="/public/images/jjim_icon.png" alt="찜">
                                <p>2,100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_comment">
                                <img src="/public/images/comment_icon.png" alt="댓글">
                                <p>100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_grade">
                                <img src="/public/images/grade_icon.png" alt="별점">
                                <p><%= p.grade %></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery_real_content" id="idx_content_end2">
                <div><img src="<%= `/public/images/${p.image}` %>" alt="메인 사진"></div>
                <div>
                    <a href="<%= `/board/post-view/${p.post_id}` %>">
                    <div class="contents_explain">
                        <h3><%= p.title %></h3>
                        <h4><%= p.address1 %></h4>
                        <h5><%= p.user_id %></h5>
                        <p><%= p.content %></p>
                    </div></a>
                    <div class="contents_info">
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_jjim">
                                <img src="/public/images/jjim_icon.png" alt="찜">
                                <p>2,100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_comment">
                                <img src="/public/images/comment_icon.png" alt="댓글">
                                <p>100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_grade">
                                <img src="/public/images/grade_icon.png" alt="별점">
                                <p><%= p.grade %></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery_real_content">
                <div><img src="<%= `/public/images/${p.image}` %>" alt="메인 사진"></div>
                <div>
                    <a href="<%= `/board/post-view/${p.post_id}` %>">
                    <div class="contents_explain">
                        <h3><%= p.title %></h3>
                        <h4><%= p.address1 %></h4>
                        <h5><%= p.user_id %></h5>
                        <p><%= p.content %></p>
                    </div></a>
                    <div class="contents_info">
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_jjim">
                                <img src="/public/images/jjim_icon.png" alt="찜">
                                <p>2,100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_comment">
                                <img src="/public/images/comment_icon.png" alt="댓글">
                                <p>100</p>
                            </div>
                        </a>
                        <a href="<%= `/board/post-view/${p.post_id}` %>">
                            <div class="btn_grade">
                                <img src="/public/images/grade_icon.png" alt="별점">
                                <p><%= p.grade %></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>