<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>이리와</title>
    <!--header & footer-->
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />

    <!--other page-->
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/service-intro.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/public/css/detail-search.css" />
    <link rel="stylesheet" href="/public/css/mypage-recommend.css" />
    <link rel="stylesheet" href="/public/css/mypage-qna.css" />
    <link rel="stylesheet" href="/public/css/notice.css" />
    <link rel="stylesheet" href="/public/css/board.css" />
    <link rel="stylesheet" href="/public/css/post-writing.css" />
    <link rel="stylesheet" href="/public/css/post-view.css" />
    <link rel="stylesheet" href="/public/css/admin-member.css" />
    <link rel="stylesheet" href="/public/css/admin-post.css" />
    <link rel="stylesheet" href="/public/css/admin-analysis.css" />
    <link rel="stylesheet" href="/public/css/admin-qna.css" />
    <link rel="stylesheet" href="/public/css/admin-qna-response.css" />
    <link rel="stylesheet" href="/public/css/mypage-good-list.css" />
    <link rel="stylesheet" href="/public/css/mypage-reply-list.css" />
    <link rel="stylesheet" href="/public/css/mypage-write-list.css" />
    <link rel="stylesheet" href="/public/css/note-list.css" />
    <link rel="stylesheet" href="/public/css/note.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
    <link rel="stylesheet" href="/public/css/signup.css" />
    <link rel="stylesheet" href="/public/css/bjy-common.css" />
    <link rel="stylesheet" href="/public/css/create.css" />
    <link rel="stylesheet" href="/public/css/qna.css">
  </head>
  <body>
    <header>
      <% const place_name1 = [
      { v: "경기도", t: "경기도" },
      { v: "강원도", t: "강원도" },
      { v: "충청북도", t: "충청북도" },
      { v: "충청남도", t: "충청남도" },
      { v: "전라북도", t: "전라북도" },
      { v: "전라남도", t: "전라남도" },
      { v: "경상북도", t: "경상북도" },
      { v: "경상남도", t: "경상남도" },
      { v: "제주특별자치도", t: "제주특별자치도" },
      ],
      place_name2 = [
      { v: "서울특별시", t: "서울특별시" },
      { v: "부산광역시", t: "부산광역시" },
      { v: "대구광역시", t: "대구광역시" },
      { v: "인천광역시", t: "인천광역시" },
      { v: "대전광역시", t: "대전광역시" },
      { v: "광주광역시", t: "광주광역시" },
      { v: "울산광역시", t: "울산광역시" },
      { v: "세종특별자치시", t: "세종특별자치시" },
      ]; %>
      <div class="page_header">
        <div id="service_logo">
          <ul>
            <li>
              <a href="/">
                <img id="logo" src="/public/images/logo.png" alt="Eriwa logo" />
              </a>
              <ul id="eriwa_list">
                <p>이리와</p>
                <li>
                  <a href="/service-intro"><p>이리와란?</p></a>
                </li>
                <li>
                  <a href="/board/all"><p>전체</p></a>
                </li>
              </ul>
              <ul id="region_list">
                <p>지역별</p>
                <ul>
                  <% place_name1.forEach (n => { %>
                  <li>
                    <a href="/board/<%=n.v%>"><p><%=n.t%></p></a>
                  </li>
                  <% }); %>
                </ul>
                <ul>
                  <% place_name2.forEach (n => { %>
                    <li>
                      <a href="/board/<%=n.v%>"><p><%=n.t%></p></a>
                    </li>
                  <% }); %>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
        <div class="search">
          <input type="text" disabled />
          <a href="/search"><button type="submit" style="cursor: pointer;"><img src="/public/images/search_icon.png" alt="검색"/></button></a>
        </div>
        <% if (loggedIn) { %>
        <div class="action">
          <a href="/mypage/recommend/all" class="btn_bookmark">
            <img src="/public/images/bookmark_icon.png" alt="bookmark_icon"/>
          </a>
          <a href="/notice" class="btn_alarm">
            <img src="/public/images/alarm_icon.png" alt="alarm_icon"/>
          </a>
          <div class="div_mypage">
            <ul>
              <li>          
                <a href="/mypage" class="btn_mypage"><img src="/public/images/profile_icon.png" alt="profile_icon"></a>
                <ul id="mypage_list">
                  <li>
                    <a href="/mypage"><p>마이페이지</p></a>
                  </li>
                  <li>
                    <a href="/mypage/update"><p>개인정보 수정</p></a>
                  </li>
                  <li>
                    <a href="/mypage/qna"><p>1:1 문의</p></a>
                  </li>
                  <li>
                    <a href="/users/logout"><p>로그아웃</p></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <%} else {%>
          <a href="/users/login" class="btn_login">로그인</a>   	
        </div>
        <% } %>
      </div>
    </header>
    <div class="flashes">
        <% if (flashMessages) {%>
            <% if (flashMessages.success) {%>
                <div class="flash success">
                    <%= flashMessages.success%>
                </div>
            <% } else if (flashMessages.error) {%>
                <div class="flash error">
                    <%= flashMessages.error%>
                </div>
            <%} %>
        <%} %>
    </div>
    <%- body %>
    <footer>
      <div>
        <a href="/service-intro"><p>서비스 소개</p></a>
      </div>
      <div>
        <a href=""><p>이용약관</p></a>
      </div>
      <div>
        <a href=""><p>신고가이드</p></a>
      </div>
      <form action="/users/<%=currentUser?.user_id%>/delete" method="post">
        <button id="btn_layout_delete" type="submit">탈퇴하기</button>
      </form>
      <br />
      <p>Copyright © 2022 Team Eriwa. All rights deserved</p>
    </footer>
    <%- script %>
  </body>
</html>
