<div id="container">
    <% posts.forEach(p => { %>
        <div class="title">
            <h2><%= p.user_id %>님이 추천한 게시물</h2>
            <div class="sort_kind">
                <div>
                    <a href=""><p>전체</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>강원도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>경기도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>경상북도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>경상남도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>전라북도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>전라남도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>충청북도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>충청남도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <div>
                    <a href=""><p>제주도</p></a>
                    <a href=""><p>(0)</p></a>
                </div>
                <a href=#none id="btn_location_show"
                onclick="if(location_hide.style.display=='none')
                {location_hide.style.display='block'} else{location_hide.style.display='none'}
                "><img src="/public/images/more_icon.png" alt="more_icon">
                </a>
                <div id="location_hide">
                    <div>
                        <a href=""><p>광주광역시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>대구광역시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>대전광역시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>부산광역시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>서울특별시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>울산광역시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>인천광역시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                    <div>
                        <a href=""><p>세종특별자치시</p></a>
                        <a href=""><p>(0)</p></a>
                    </div>
                </div>

            </div>
        </div>
        <div id="all_contents">
            <div class="board_action">
                <div>
                    <a href=""><img src="../public/images/gallery_view_icon.png" alt="사진 보기"></a>
                    <a href=""><img src="../public/images/list_view_icon.png" alt="목록 보기"></a>
                </div>
            </div>
            <div class="contents">
                <div class="gallery_real_content" id="rmd_content_end1">
                    <div><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div>
                        <a href="<%= `/${p.image}` %>">
                            <div class="contents_explain">
                                <h3><%= p.title %></h3>
                                <h4><%= p.address1 %></h4>
                                <h5><%= p.user_id %></h5>
                                <p><%= p.content %></p>
                            </div>
                        </a>
                        <div class="contents_info">
                            <a href="<%= `/${p.image}` %>">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="<%= `/${p.image}` %>">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="<%= `/${p.image}` %>">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p><%= p.grade %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gallery_real_content" id="rmd_content_end2">
                    <div><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                    <div>
                        <a href="<%= `/${p.image}` %>">
                            <div class="contents_explain">
                                <h3><%= p.title %></h3>
                                <h4><%= p.address1 %></h4>
                                <h5><%= p.user_id %></h5>
                                <p><%= p.content %></p>
                            </div>
                        </a>
                        <div class="contents_info">
                            <a href="<%= `/${p.image}` %>">
                                <div class="btn_jjim">
                                    <img src="/public/images/jjim_icon.png" alt="찜">
                                    <p>2,100</p>
                                </div>
                            </a>
                            <a href="<%= `/${p.image}` %>">
                                <div class="btn_comment">
                                    <img src="/public/images/comment_icon.png" alt="댓글">
                                    <p>100</p>
                                </div>
                            </a>
                            <a href="<%= `/${p.image}` %>">
                                <div class="btn_grade">
                                    <img src="/public/images/grade_icon.png" alt="별점">
                                    <p><%= p.grade %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gallery_real_content">
                        <div><img src="/public/images/comment_icon.png" alt="메인 사진"></div>
                        <div>
                            <a href="<%= `/${p.image}` %>">
                                <div class="contents_explain">
                                    <h3><%= p.title %></h3>
                                    <h4><%= p.address1 %></h4>
                                    <h5><%= p.user_id %></h5>
                                    <p><%= p.content %></p>
                                </div>
                            </a>
                            <div class="contents_info">
                                <a href="<%= `/${p.image}` %>">
                                    <div class="btn_jjim">
                                        <img src="/public/images/jjim_icon.png" alt="찜">
                                        <p>2,100</p>
                                    </div>
                                </a>
                                <a href="<%= `/${p.image}` %>">
                                    <div class="btn_comment">
                                        <img src="/public/images/comment_icon.png" alt="댓글">
                                        <p>100</p>
                                    </div>
                                </a>
                                <a href="<%= `/${p.image}` %>">
                                    <div class="btn_grade">
                                        <img src="/public/images/grade_icon.png" alt="별점">
                                        <p><%= p.grade %></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>