<div class="goodList-container">
  <div id="goodBig-container">
    <div class="good-wrapped">
      <div class="user_container">
        <div class="user_info">
          <img
            id="profile"
            src="/public/images/profile_icon.png"
            alt="profile_icon"
          />
          <br />
          <p>Name</p>
          <br />
          <div id="img_message">
            <a href="/chat">
              <img src="/public/images/message_icon.png" alt="message_icon" />
              <p>쪽지함</p>
            </a>
          </div>
        </div>
        <div class="user_detail">
          <div class="detail_constant">
            <p>・ 작성한 글</p>
            <p>・ 작성한 댓글</p>
            <p>・ 추천한 글</p>
            <p>・ 개인정보</p>
          </div>
          <div class="good-detail_variable">
            <a href=""><p>1건</p></a>
            <a href=""><p>56건</p></a>
            <a href=""><p>31건</p></a>
            <a href="<%=`mypage/passwordCheck`%>"><p>수정하기</p></a>
          </div>
        </div>
        <div class="good-empty">
          <form action="/users/<%=currentUser?.user_id%>/delete" method="post">
            <button type="submit"><p>탈퇴하기</p></button>
          </form>
        </div>
      </div>
      <div class="good_container">
        <div class="good_detail">
          <!-- <div class="good-menu_list">
            <div class="write_list">
              <span>내가 쓴 글</span>
            </div>
            <div class="reply_list">
              <span>내가 쓴 댓글</span>
            </div>
            <div class="good_list">
              <span>추천한 글</span>
            </div>
          </div>
          <div class="good-button-container">
            <button id="btn-all-select">전체선택</button>
            <button id="btn_delete">삭제</button>
          </div> -->
          <div class="good_kind">
            <div class="mypage_nav">
              <span class="mypage_nav_span"><a href="/mypage" class="mypage_nav_choice">추천한 글</a></span>
              <span class="mypage_nav_span"><a href="/mypage/post">내가 쓴 글</a></span>
              <span class="mypage_nav_span"><a href="/mypage/comment">내가 쓴 댓글</a></span>
            </div>
            <div>
              <div class="mypage_content">
                <table class="mypage_good_table">
                  <thead>
                    <tr>
                      <th scope="cols">글번호</th>
                      <th scope="cols">제목</th>
                      <th scope="cols">장소이름</th>
                      <th scope="cols">장소위치</th>
                      <th scope="cols">조회수</th>
                      <th scope="cols">작성일자</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% good.forEach(good => { %>
                    <tr>
                      <td><%= good.post_id %></td>
                      <td><a href="<%=`/board/post-view/${good.post_id}`%>"><%= good.title %></a></td>
                      <td><%= good.place_name %></td>
                      <td><%= good.address1 %> <%= good.address2 %> <%= good.address3 %></td>
                      <td><%= good.view_count %></td>
                      <td><%= getDate(good.written_date) %></td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
