<div id="container">
    <div class="wrapped_qna">
        <div class="user_container">
            <div class="user_info">
                <img id="img_profile" src="/public/images/profile_icon.png" alt="profile_icon">
                <br>
                <p><%= currentUser.nickname %></p>
                <br>
                <div id="img_message">
                    <a href="/note/receive">
                        <img src="/public/images/message_icon.png" alt="message_icon">
                        <p>쪽지함</p>
                    </a>
                </div>
            </div>
            <div class="user_detail">
                <div class="detail_constant">
                    <a href="<%=`/mypage/post`%>"><p>・ 작성한 글</p></a>
                    <a href="<%=`/mypage/comment`%>"><p>・ 작성한 댓글</p></a>
                    <a href="<%=`/mypage`%>"><p>・ 추천한 글</p></a>
                    <a href="<%=`/mypage/update`%>"><p>・개인정보수정</p></a>
                  </div>
              </div>
        </div>
        <div class="qna_container">
            <h3>1:1 문의글</h3>
            <div class="qna_detail">
                <div class="qna_kind">
                    <select>
                        <option>1개월</option>
                        <option>3개월</option>
                        <option>6개월</option>
                    </select>
                    <select>
                        <option>전체</option>
                        <option>답변</option>
                        <option>미답변</option>
                    </select>
                </div>
                <div class="qna_list">
                    <% if(qnas == null) { %>
                    <div>
                        <p>1:1문의 내역이 없습니다.</p>
                    </div>
                    <%} else { %>
                    <div class="qnas_data">
                        <table class="qna_table">
                            <thead>
                                <tr>
                                    <th>문의번호</th>
                                    <th>문의내용</th>
                                    <th>답변유무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% qnas.forEach(q => { %>   
                                <tr>
                                    <td>
                                        <%= q.qna_id %>
                                    </td>
                                    <td class="qna_p">
                                        <a href="/mypage/qna/<%=q.qna_id%>">
                                            <%= q.question %>
                                        </a>
                                    </td>
                                    <td>
                                        <% if(q.answer != null) { %>
                                        <p>답변</p>
                                        <% } else { %>
                                        <p>미답변</p>
                                        <%} %>
                                    </td>
                                </tr>
                                <%}); %>
                            </tbody>
                        </table>
                    </div>
                    <% } %>
                </div>
                <a href="/mypage/qna/write"><button id="btn_write">작성</button></a>
            </div>
        </div>
    </div>
</div>