<div class="notice-container">
  <main class="notice-main">
    <div class="notice-category">
      <h1>알림함</h1>
    </div>
    <div class="notice-list-header">
      <div>종류</div>
      <div>작성자</div>
      <div>내용</div>
      <div>날짜</div>
    </div>
    <% if (events.length) { %>
      <div class="notification-content">
        <ul>
          <% events.forEach(function(event) { %>
            <form name="noticeCheck" id="<%= `notice-${event.event_id}` %>" action="/notice/check/" method="post">
              <input type="hidden" name="user_id" value="<%= currentUser.dataValues.user_id %>">
              <input type="hidden" name="event_id" value="<%= event.event_id %>">
              <input type="hidden" name="is_checked" value="<%= event.is_checked %>">
              <input type="hidden" name="event_url" value="<%= event.url_address %>">
            </form>
            <li class="notification-list <%= `is-checked-${event.is_checked}` %>" onclick="javascript:document.getElementById('<%= `notice-${event.event_id}` %>').submit();" style="cursor:pointer;">
              <div class="notification-subject">
                <span class="notification-subject-img">
                  <% if (event.event_type == "댓글") { %>
                    <img src="/public/images/commenttype.png" alt="알림 종류" width="40px" height="40px">
                  <% } else { %>
                    <img src="/public/images/note.png" alt="알림 종류" width="40px" height="40px">
                   <% } %> 
                </span>
              </div>
              <div class="notification-maker" style="display:inline-block; text-align: center;">
                <img src="/public/images/usericon.png" alt="프로필 이미지" width="20px"><br/>
                <span><%= event.event_author %></span>
              </div>
              <div class="notification-text">
                <% if (event.event_type == "댓글") { %>
                  <span class="notice-title"><%= event.event_title %></span>
                <% } %>
                <div class="notice-content"><%= event.event_content %></div>
              </div>
              <div class="notification-day">
                <span class="notice-date"><%= getDate(event.event_date) %></span>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    <% } else { %>
      <br>
      <div class="notification-content"><p>알림이 없습니다.</p></div>
    <% } %>
    <div style="text-align: center; padding:10px;">알림은 30일 이후 삭제됩니다.</div>
    <div class="notice-top-button">
      <a href="/notice">TOP</a>
    </div>
  </main>
</div>