<div class="post-view-container">
  <main class="post-view-main">
    <!-- 본문 -->
    <article class="post-article">
      <header>
        <a href="/board"><%= post.address1 %></a>
        <h1><%= post.title %> </h1>
        <div class="post-info">
          <span class="post-info-left-content">
            <a href="/mypage-good-list"><img src="/public/images/usericon.png" alt="프로필 이미지"
                width="20px">&nbsp;<%= post.user_id %></a>&nbsp;&nbsp;&nbsp;<%= getDate(post.written_date) %>
          </span>
          <span class="post-info-right-content">
            <a href="#comment"><img src="/public/images/comment-alt.png" alt="댓글수" width="25"
                height="25">&nbsp;댓글 <%= comments.length %></a>&nbsp;&nbsp;&nbsp;<a href="#"><img src="/public/images/heart.png" alt="추천"
                width="25" height="25">&nbsp;추천 <%= recommend_count %></a>
          </span>
        </div>
      </header>
  
      <div class="post-content">
        <table>
          <thead>
            <tr>
              <td rowspan="6"><img src="<%= `/public/images/${post.image}` %>" alt="장소 사진" width="400px" height="auto"></td>
              <td><span class="post-view-cell-title">이름</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.place_name %></td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">종류</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.place_type %></td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">위치</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.address1 %> <%= post.address2 %> <%= post.address3 %></td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">별점</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.grade %>점</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">주차장</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <% if (post.can_park == 0) { %>
                  <span>불가능</span>
                <% } else { %>
                  <span>가능</span>
                <% } %>
              </td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">반려동물 동반</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <% if (post.can_pet == 0) { %>
                  <span>불가능</span>
                <% } else { %>
                  <span>가능</span>
                <% } %>
              </td>
            </tr>
          </thead>
        </table>
        <p id="post-content-text"><%= post.content %></p>
        <div class="post-buttons">
          <span class="article-footer-center">
            <!-- 추천 기능 추가하기 -->
            <a href="#" onclick="javascript:pushRecommend()"><span id="post-view-recommend"><img src="/public/images/heart.png" alt="추천" width="25"
                  height="25">&nbsp;추천</span></a>
            <script>
              function pushRecommend(){
                // 기능 구현하기,,,,
              }
            </script>
            &nbsp;
            <a href="#" onclick="javascript:copyUrl()"><span id="post-view-share"><img src="/public/images/share.png" alt="공유" width="25"
                  height="25">&nbsp;공유</span></a>
            <script type="text/javascript">
              function copyUrl(){
                var url = '';
                var textarea = document.createElement("textarea");
                document.body.appendChild(textarea);
                url = window.document.location.href;
                textarea.value = url;
                textarea.select();
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("url을 복사했습니다. 원하는 곳에 붙여넣기(Ctrl+V) 해주세요.")
              }
            </script>
          </span>
          <!-- 작성자에게만 보이게 -->
          <% if (post.user_id) { %>
            <span class="article-footer-right">
              <a href="<%= `/board/post-view/${post.post_id}/edit` %>">수정</a>
              <a href="<%= `/board/post-view/${post.post_id}/delete` %>">삭제</a>
            </span>
          <% } %>
        </div>
      </div>
    </article>
    <!-- 본문 -->
    <!-- 댓글창 -->
    <div class="comment-area" id="comment">
      <% if (comments.length) { %>
        <% comments.forEach(comment => { %>
          <div class="comment-content">
            <div class="post-view-profile">
              <a href="#"><img src="/public/images/usericon.png" alt="작성자 프로필">&nbsp;<%= comment.user_id %></a>
            </div>
            <p class="comment-content-text"><%= comment.comment %></p>
            <div class="comment-footer">
              <%= getDate(comment.written_date) %>
              <!-- 작성자에게만 보이게 -->
              
                <span class="comment-buttons">
                  <a href="<%= `/board/post-view/${post.post_id}/comment/${comment.comment_id}/edit` %>">수정</a>
                  <a href="<%= `/board/post-view/${post.post_id}/comment/${comment.comment_id}/delete` %>">삭제</a>
                </span>
              
            </div>
          </div>
        <% }) %>   
      <% } %>
      
      <div class="comment-writing-column">
        <div class="post-view-profile">
          <img src="/public/images/usericon.png" alt="내 프로필">&nbsp; 내 아이디
        </div>
        <form class="comment-textarea" action="<%= `/comment/${post.post_id}` %>" method="post">
          <input type="hidden" id="comment_author">
          <p><textarea placeholder="내용을 입력해 주세요" name="comment_content" rows="8" cols="80"></textarea></p>
          <p><input type="submit" name="등록" value="등록" class="post-view-myButton"></p>
        </form>
      </div>
    </div>
    <!-- 댓글창 -->
    <div class="post-view-buttons">
      <a href="/board">목록</a>
      <a href="<%= `/board/post-view/${post.post_id}` %>">TOP</a>
    </div>
  </main>
</div>
