<script src="/public/js/post-view.js"></script>
<div class="post-view-container">
  <main class="post-view-main">
    <!-- 본문 -->
    <article class="post-article">
      <header>
        <a href="/board"><%= post.address1 %></a>
        <h1><%= post.title %> </h1>
        <div class="post-info">
          <div class="post-info-left-content">
            <button  onclick="javascript: showDrop('post-author-nickname');" onblur="javascript: hideDrop('post-author-nickname');">
              <img src="/public/images/usericon.png" alt="프로필 이미지"
              width="25px">&nbsp;<%= post.nickname %>
            </button>&nbsp;&nbsp;&nbsp;
              <ul class="drop-list"  id="post-author-nickname">
                <% if (currentUser && post.user_id == currentUser?.dataValues.user_id) { %>
                  <li class="drop-item"><a href="/mypage" class="drop-button">마이페이지</a></li>
                <% } else { %>
                  <li class="drop-item"><a href="#" class="drop-button">쪽지 보내기</a></li>
                <% } %>
              </ul>
            <%= getDate(post.written_date) %>
          </div>
          <div class="post-info-right-content">
            <a href="#comment"><img src="/public/images/comment-alt.png" alt="댓글수" width="25"
                height="25">&nbsp;댓글 <%= comments.length %></a>&nbsp;&nbsp;&nbsp;<a href="#"><img src="/public/images/heart.png" alt="추천"
                width="25" height="25">&nbsp;추천 <%= post.recommend_count %></a>
          </div>
        </div>
      </header>

      <div class="post-content">
        <table>
          <thead>
            <tr>
              <td rowspan="6" class="table-post-img"><img src="<%= `/public/uploadFiles/${post.image}` %>" alt="장소 사진"></td>
              <td><span class="post-view-cell-title">이름</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.place_name %></td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">종류</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.place_type %></td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">위치</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.address1 %> <%= post.address2 %> <%= post.address3 %></td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">별점</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= post.grade %>점</td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">주차장</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <% if (post.can_park == 0) { %>
                  <span>불가능</span>
                <% } else { %>
                  <span>가능</span>
                <% } %>
              </td>
            </tr>
            <tr>
              <td><span class="post-view-cell-title">반려동물 동반</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <% if (post.can_pet == 0) { %>
                  <span>불가능</span>
                <% } else { %>
                  <span>가능</span>
                <% } %>
              </td>
            </tr>
          </thead>
        </table>
        <p id="post-content-text"><%= post.content %></p>
        <div class="post-buttons">
          <span class="article-footer-center">
            <!-- 추천 기능 추가하기 -->
            <a href="#" onclick="javascript:pushRecommend()"><span id="post-view-recommend"><img src="/public/images/heart.png" alt="추천" width="25"
                  height="25">&nbsp;추천</span></a>
            &nbsp;
            <a href="#" onclick="javascript:copyUrl()"><span id="post-view-share"><img src="/public/images/share.png" alt="공유" width="25"
                  height="25">&nbsp;공유</span></a>
          </span>
          <!-- 작성자에게만 보이게 -->
          <% if (post.user_id && post.user_id == currentUser?.dataValues.user_id) { %>
            <span class="article-footer-right">
              <a href="<%= `/board/post-view/${post.post_id}/edit` %>" class="post-edit-delete">수정</a>
              <form onsubmit="return confirm('정말 삭제하시겠습니까?');" action="<%= `/board/post-view/${post.post_id}/delete` %>" method="post">
                <input type="submit" name="삭제" value="삭제" class="post-edit-delete">
              </form>
            </span>
          <% } %>
        </div>
      </div>
    </article>

    <!-- 댓글창 -->
    <div class="comment-area" id="comment">
      <% if (comments.length) { %>
        <% comments.forEach(comment => { %>
          <div class="comment-content-container">
            <div class="comment-content">
              <div class="post-view-profile">
                <div class="comment-profile-wrap">
                  <button 
                    onclick="javascript: showDrop('<%= `comment-author-nickname-${comment.comment_id}` %>');" 
                    onblur="javascript: hideDrop('<%= `comment-author-nickname-${comment.comment_id}` %>');"
                  >
                    <img src="/public/images/usericon.png" alt="작성자 프로필" width="25px">&nbsp;<%= comment.nickname %>
                  </button>
                </div>
                  <ul class="comment-drop-list"  id="<%= `comment-author-nickname-${comment.comment_id}` %>">
                    <% if (currentUser && comment.user_id == currentUser?.dataValues.user_id) { %>
                      <li class="drop-item"><a href="/mypage" class="drop-button">마이페이지</a></li>
                    <% } else { %>
                      <li class="drop-item"><a href="" class="drop-button">쪽지 보내기</a></li>
                    <% } %>
                  </ul>
              </div>
              <div id="<%= `comment-content-${comment.comment_id}` %>">
                <div class="comment-content-text"><%= comment.comment %></div>
              
                <div class="comment-footer">
                  <%= getDate(comment.written_date) %>
                  <!-- 작성자에게만 보이게 -->
                  <% if (comment.user_id && comment.user_id == currentUser?.dataValues.user_id) { %>
                    <span class="comment-buttons">
                      <!-- 클릭하면 수정 폼을 보여줌 -->
                      <a onclick="showEdit('<%= `comment-content-${comment.comment_id}` %>', '<%= `comment-edit-${comment.comment_id}` %>');" href="javascript:void(0)" class="edit-delete">수정</a>
                      <form onsubmit="return confirm('정말 삭제하시겠습니까?');" action="<%= `/comment/${post.post_id}/delete` %>" method="post">
                        <input type="hidden" name="comment_id" value="<%= comment.comment_id %>">
                        <input type="submit" name="삭제" value="삭제" class="edit-delete">
                      </form>
                    </span>
                    <%}%>
                </div>
              </div>
            </div>

            <!-- 댓글 수정 폼 -->
            <div class="comment-edit-form" id="<%= `comment-edit-${comment.comment_id}` %>">

              <form class="comment-textarea" onsubmit="return confirm('댓글을 수정하시겠습니까?');" action="<%= `/comment/${post.post_id}/edit` %>" method="post">
                <input type="hidden" name="comment_author" value="<%= comment.user_id %>">
                <input type="hidden" name="comment_id" value="<%= comment.comment_id %>">
                <div><textarea placeholder="<%= comment.comment %>" name="comment_content" rows="8" cols="80" style="padding: 6px;"></textarea></div>
                <div class="comment-edit-buttons">
                  <input type="button" onclick="hideEdit('<%= `comment-content-${comment.comment_id}` %>', '<%= `comment-edit-${comment.comment_id}` %>');" name="cancel_update" value="취소" class="post-view-myButton">
                  <input type="submit" name="submit_update" value="수정" class="post-view-myButton comment-edit-button">
                </div>
              </form>
            </div>
          </div>
        <% }) %>   
      <% } %>
      
      <div class="comment-writing-column" id="testid">
        <div class="comment-my-profile">
          <img src="/public/images/usericon.png" alt="내 프로필" width="25px">&nbsp; <%= currentUser?.dataValues.nickname %>
        </div>
        <form class="comment-textarea" onsubmit="return confirm('댓글을 등록하시겠습니까?');" action="<%= `/comment/${post.post_id}` %>" method="post">
          <input type="hidden" name="post_author" value="<%= post.user_id %>">
          <input type="hidden" name="comment_author" value="<%= currentUser?.dataValues.user_id %>">
          <input type="hidden" name="post_title" value="<%= post.title %> ">
          <div><textarea placeholder="내용을 입력해 주세요" name="comment_content" rows="8" cols="80" style="padding: 6px;"></textarea></div>
          <div><input type="submit" name="등록" value="등록" class="post-view-myButton"></div>
        </form>
      </div>
    </div>

    <div class="post-view-buttons">
      <a href="/board">목록</a>
      <a href="<%= `/board/post-view/${post.post_id}` %>">TOP</a>
    </div>
  </main>
</div>
