<div id="container">
    <div class="wrapped_qna">
        <div class="user_container">
            <div class="user_info">
                <img id="img_profile" src="/public/images/profile_icon.png" alt="profile_icon">
                <br>
                <p><%= currentUser.nickname %></p>
                <br>
                <div id="img_message">
                    <a href="/note/receive">
                        <img src="/public/images/message_icon.png" alt="message_icon">
                        <p>쪽지함</p>
                    </a>
                </div>
            </div>
            <div class="user_detail">
                <div class="detail_constant">
                    <a href="<%=`/mypage/post`%>"><p>・ 작성한 글</p></a>
                    <a href="<%=`/mypage/comment`%>"><p>・ 작성한 댓글</p></a>
                    <a href="<%=`/mypage`%>"><p>・ 추천한 글</p></a>
                    <a href="<%=`/mypage/update`%>"><p>・개인정보수정</p></a>
                  </div>
            </div>
        </div>
        <div class="qna_container">
            <h3>1:1 문의글</h3>
            <div class="qna_detail">
                <div class="qna_list">
                    <div class="qnas_data">
                        <a href="/mypage/qna"><img src="/public/images/back.png" alt="back"></a>
                        <h4>문의 내용</h4>
                        <div class="qna_content">
                            <p><%= q.question%></p>
                        </div>
                    </div>
                    <% if(q.answer != null) { %>
                    <div class="reply_content">
                        <h4>답변 내용</h4>
                        <div class="qna_reply">
                            <p><%= q.answer%></p>
                        </div>
                    </div>
                    <% } %>
                <% if(q.answer == null) { %>
                <a href="/mypage/qna/<%=q.qna_id%>/edit" class="btn_pretty">수정</a>
                <form action="/mypage/qna/<%=q.qna_id%>/delete" method="post">
                    <button id="btn_write" class="btn_pretty">삭제</button>
                </form>
                <% } %>
                </div>
            </div>
        </div>
    </div>
</div>